

.text {
    background-color: #EFFAC8;
    width:370px;
    height: 88px;
    border-radius: 7px;
    text-align: right;
    border-style: inset;
    
}
button {
    font-size:10pt;
    margin-top: 9px;
    margin-bottom:5px;
    border-radius: 10px;
    height: 50px;
    width: 90px;
    background-color:#D6D6D6;
    
}
button[id="equals"] {
    height: 115px;
}
button[id="zero"] {
    position: relative;
    bottom: 64px;
    width: 185px;
}
button[id="dot"] {
    position: relative;
    bottom: 64px;
}
button[id="one"], button[id="two"], button[id="three"] {
    position: relative;
    bottom: 32px;
}

button:hover{
    border-width:5px;
    background-color:#CC5959;
}

.apple-calculate {
    background-color:#B8B8B8;
    width:390px;
    height:490px;
}
