

.chart{
	border: 1px solid black;
}

.chart rect{
	/*fill:rgb(100,50,150);*/
	stroke:orange;	
}

.chart text{
	
	font:10px sans-serif;
}

.chart line{
	stroke:black;
}

.chart .bar-label{
	fill:white;
}